@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, world</h1>
    <p>This is my very own cool website which was made thanks to <a href="https://github.com/petrspelos">Peter</a>.</p>
    <p>And i can also update it!</p>
</div>
